* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Open Sans Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
.logo-box {
    display: flex;
}
.logo {
    fill: #ffffff;
    margin-right: auto;
    margin-left: auto;
}
.header::before {
    content: "";
    background-color: #161133;
    position: absolute;
    opacity: 0.9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.header-container {
    position: relative;
    z-index: 2;
}
.header-title {
    font-family: "Open Sans Bold", serif;
    text-transform: uppercase;
    color: #ffffff;
}
.span-h1 {
    display: block;
}
@media (max-width: 640px) {
    .logo-box {
        display: flex;
    }
    .logo {
        width: 8.4rem;
        height: 2.2rem;
        margin-top: 10px;
    }
    .header {
        background: url("../images/football_767.jpg") no-repeat center center #000000;
        padding: 20px 0 85px;
        background-size: cover;
        position: relative;
    }
    .header-container {
        padding: 0 16px;
    }
    .header-title {
        font-size: 1.75rem;
        margin-left: 6.25%;
        margin-top: 8.4rem;
    }
    .span-h1 {
        padding-left: 2.6rem;
    }
    .button-box {
        margin-top: 5.5rem;
    }
    .button {
        background-color: #5e42b0;
        border: 0;
        height: 35px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1.25rem;
        color: #ffffff;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .button-2 {
        margin-top: 0.9rem;
    }
    .button-logo {
        width: 20px;
        height: 20px;
        fill: #ffffff;
        margin-left: 80px;
        margin-right: 5px;
    }
    .text {
        font-family: "Open Sans Regular", serif;
        text-transform: uppercase;
        font-size: 0.5rem;
    }
    .text-2 {
        font-family: "Open Sans Bold", serif;
        display: block;
    }
    .section-subject {
        font-family: "Open Sans Bold", serif;
        font-size: 3.125rem;
        color: #e7e7e7;
        text-transform: uppercase;
        margin-left: 6.25%;
    }
    .box-preview {
        display: flex;
        flex-direction: column-reverse;
    }
    .box-preview::before {
        content: url("../images/footballer_192.png");
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }
    .box-preview-2::before {
        content: url("../images/basketballer_302.png");
    }
    .content-box {
        padding: 1.875rem 6.25% 3.125rem;
    }
    .header-box {
        display: flex;
        font-family: "Open Sans Bold", serif;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }
    .number-box {
        font-family: "Open Sans Bold", serif;
        text-transform: uppercase;
        font-size: 14px;
        align-self: flex-start;
        box-sizing: border-box;
        width: 17px;
        text-align: center;
        position: relative;
        display: inline-block;
    }
    .number_box {
        padding-top: 4px;
    }
    .number-box::after {
        content: "";
        position: absolute;
        background: #5e42b0;
        right: 5%;
        left: 5%;
        bottom: -3px;
        width: 90%;
        height: 4px;
        border-radius: 2px;
    }
    .number-box-3::after {
        background: #ffffff;
    }
    .number-box_3 {
        color: #8765dd;
    }
    .subtitle-box {
        font-size: 1.5rem;
        color: #c1c1c1;
        margin-left: 3%;
    }
    .text-box {
        font-family: "Open Sans Regular", serif;
        font-size: 1rem;
    }
    .text-box-3 {
        color: #ffffff;
    }
    .content-box-2 {
        background-color: #f5f4f9;
    }
    .content-box-3 {
        background-color: #5e42b0;
    }
    .content-box_3 {
        background-color: #090c35;
    }

    .gallery-column {
        position: relative;
    }
    img {
        height: 350px;
        width: 100%;
    }
    .gallery-counter {
        font-family: "Open Sans Bold", serif;
        font-size: 14px;
        display: flex;
        box-sizing: border-box;
        width: 70px;
        height: 70px;
        background-color: #5e42b0;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        position: absolute;
        top: 290px;
        left: 6.25%;
    }
    .gallery-counter::after {
        content: "";
        position: absolute;
        background: #8f7bc8;
        right: 39%;
        left: 39%;
        bottom: 21px;
        width: 22%;
        height: 4px;
        border-radius: 2px;
    }
    .gallery-content {
        margin-bottom: 80px;
        margin-left: 6.25%;
    }
    .gallery-title {
        font-family: "Open Sans Bold", serif;
        font-size: 1.75rem;
        color: #e7e7e7;
        text-transform: uppercase;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .gallery-text {
        font-family: "Open Sans Regular", serif;
    }

    .footer {
        background: url("../images/game_767.jpg") no-repeat center center #000000;
        background-size: cover;
        position: relative;
        display: flex;
    }
    .footer::before {
        content: "";
        background-color: #161133;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.9;
    }
    .footer-site {
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-box {
        margin-top: 6.25rem;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        width: 75px;
        height: 75px;
        background-color: #53399f;
        border-radius: 1rem;
        display: flex;
    }
    .logo-footer {
        width: 60px;
        height: 50px;
        fill: #ffffff;
        margin: auto;
    }
    .footer-title {
        font-family: "Open Sans Bold", serif;
        font-size: 2.1rem;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 3.4rem;
    }
    .footer-subtitle {
        font-family: "Open Sans Regular", serif;
        font-size: 0.97rem;
        text-transform: uppercase;
        color: #9b8ec1;
        margin-bottom: 4.65rem;
    }
    .footer-logo {
        margin-top: 3.5rem;
        padding-bottom: 10px;
    }
}

@media (min-width: 641px) and (max-width: 960px){
    .logo {
        width: 12.8rem;
        height: 3.6rem;
        margin-top: 20px;
    }
    .header {
        background: url("../images/football_1280.jpg") no-repeat center center #000000;
        background-size: cover;
        position: relative;
        padding: 20px 0 85px;
    }
    .header-container {
        padding: 0 16px;
    }
    .header-title {
        font-size: 4rem;
        margin-left: 11%;
        margin-top: 11.25rem;
    }
    .span-h1 {
        padding-left: 6rem;
    }
    .button-box {
        margin-top: 5.5rem;
        display: flex;
    }
    .button {
        background-color: #5e42b0;
        border: 0;
        height: 75px;
        width: 310px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1.25rem;
        color: #ffffff;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .button-logo {
        width: 20px;
        height: 20px;
        fill: #ffffff;
        margin-left: 80px;
        margin-right: 5px;
    }
    .text {
        font-family: "Open Sans Regular", serif;
        text-transform: uppercase;
        font-size: 0.5rem;
    }
    .text-2 {
        font-family: "Open Sans Bold", serif;
        display: block;
    }
}