* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Open Sans Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
.logo-box {
    display: flex;
}
.logo {
    fill: #ffffff;
    margin-right: auto;
    margin-left: auto;
}
.header::before {
    content: "";
    background-color: #161133;
    position: absolute;
    opacity: 0.9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.header-container {
    position: relative;
    z-index: 2;
    padding: 0 16px;
}
.header-title {
    font-family: "Open Sans Bold", serif;
    text-transform: uppercase;
    color: #ffffff;
}
.span-h1 {
    display: block;
}
.button {
    background-color: #5e42b0;
    border: 0;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.text {
    font-family: "Open Sans Regular", serif;
    text-transform: uppercase;
}
.text-2 {
    font-family: "Open Sans Bold", serif;
    display: block;
}
.section-subject {
    font-family: "Open Sans Bold", serif;
    color: #e7e7e7;
    text-transform: uppercase;
}
.box-preview {
    display: flex;
}
.header-box {
    display: flex;
    font-family: "Open Sans Bold", serif;
    text-transform: uppercase;
}
.number-box {
    font-family: "Open Sans Bold", serif;
    text-transform: uppercase;
    align-self: flex-start;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    display: inline-block;
}
.number_box {
    padding-top: 4px;
}
.number-box::after {
    content: "";
    position: absolute;
    background: #5e42b0;
    right: 5%;
    left: 5%;
    bottom: -4px;
    width: 90%;
    height: 4px;
    border-radius: 2px;
}
.number-box-3::after {
    background: #ffffff;
}
.number-box_3 {
    color: #8765dd;
}
.subtitle-box {
    color: #c1c1c1;
    margin-left: 3%;
}
.text-box {
    font-family: "Open Sans Regular", serif;
}
.text-box-3 {
    color: #ffffff;
}
.content-box-2 {
    background-color: #f5f4f9;
}
.content-box-3 {
    background-color: #5e42b0;
}
.content-box_3 {
    background-color: #090c35;
}
.gallery-column {
    position: relative;
}
img {
    width: 100%;
}
.gallery-counter {
    font-family: "Open Sans Bold", serif;
    display: flex;
    box-sizing: border-box;
    background-color: #5e42b0;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: absolute;
}
.gallery-counter::after {
    content: "";
    position: absolute;
    background: #8f7bc8;
    right: 38%;
    left: 38%;
    width: 24%;
}
.gallery-title {
    font-family: "Open Sans Bold", serif;
    color: #e7e7e7;
    text-transform: uppercase;
}
.gallery-text {
    font-family: "Open Sans Regular", serif;
}
.footer {
    background-size: cover;
    position: relative;
    display: flex;
}
.footer::before {
    content: "";
    background-color: #161133;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.footer-site {
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
}
.footer-box {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background: linear-gradient(to top, #52389d, #7352d0);
    display: flex;
}
.logo-footer {
    fill: #ffffff;
    margin: auto;
}
.footer-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Open Sans Bold", serif;
    text-transform: uppercase;
    color: #ffffff;
}
.footer-subtitle {
    font-family: "Open Sans Regular", serif;
    text-transform: uppercase;
    color: #9b8ec1;
}
@media (max-width: 640px) {
    .logo-box {
        display: flex;
    }
    .logo {
        width: 8.4rem;
        height: 2.2rem;
        margin-top: 10px;
    }
    .header {
        background: url("../images/football_767.jpg") no-repeat center center #000000;
        padding: 20px 0 85px;
        background-size: cover;
        position: relative;
    }
    .header-title {
        font-size: 1.75rem;
        margin-left: 6.25%;
        margin-top: 8.4rem;
    }
    .span-h1 {
        padding-left: 2.6rem;
    }
    .button-box {
        margin-top: 5.5rem;
    }
    .button {
        height: 35px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1.25rem;
    }
    .button-2 {
        margin-top: 0.9rem;
    }
    .button-logo {
        width: 20px;
        height: 20px;
        fill: #ffffff;
        margin-left: 80px;
        margin-right: 5px;
    }
    .text {
        font-size: 0.5rem;
    }
    .section-subject {
        font-size: 3.125rem;
        margin-left: 6.25%;
    }
    .box-preview {
        flex-direction: column-reverse;
    }
    .box-preview::before {
        content: url("../images/footballer_192.png");
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }
    .box-preview-2::before {
        content: url("../images/basketballer_302.png");
    }
    .content-box {
        padding: 1.875rem 6.25% 3.125rem;
    }
    .header-box {
        margin-bottom: 1.5rem;
    }
    .number-box {
        font-size: 14px;
        width: 17px;
    }
    .subtitle-box {
        font-size: 1.5rem;
    }
    .text-box {
        font-size: 1rem;
    }
    .gallery-column {
        position: relative;
    }
    .gallery-counter {
        font-size: 14px;
        width: 70px;
        height: 70px;
        left: 6.25%;
        bottom: -10px;
    }
    .gallery-counter::after {
        bottom: 21px;
        height: 4px;
        border-radius: 2px;
    }
    .gallery-content {
        margin-bottom: 80px;
        margin-left: 6.25%;
    }
    .gallery-title {
        font-size: 1.75rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .footer {
        background: url("../images/game_767.jpg") no-repeat center center #000000;
    }
    .footer-box {
        margin-top: 4.3rem;
        width: 75px;
        height: 75px;
        border-radius: 1rem;
    }
    .logo-footer {
        width: 60px;
        height: 50px;
    }
    .footer-title {
        font-size: 2.1rem;
        margin-top: 3.1rem;
    }
    .footer-subtitle {
        font-size: 0.97rem;
    }
    .footer-logo {
        margin-top: 5rem;
        padding-bottom: 10px;
    }
}
@media (min-width: 641px) and (max-width: 960px){
    .logo {
        width: 205px;
        height: 58px;
        margin-top: 10px;
    }
    .header {
        background: url("../images/football_1280.jpg") no-repeat center center #000000;
        background-size: cover;
        position: relative;
        padding: 20px 0 85px;
    }
    .header-title {
        font-size: 64px;
        margin-left: 11%;
        margin-top: 170px;
    }
    .span-h1 {
        padding-left: 96px;
    }
    .button-box {
        margin-top: 380px;
        display: flex;
        justify-content: center;
    }
    .button {
        height: 75px;
        width: 310px;
        border-radius: 64px;
    }
    .button-2 {
        margin-left: 30px;
    }
    .button-logo {
        width: 40px;
        height: 40px;
        fill: #ffffff;
        margin-left: 50px;
        margin-right: 25px;
    }
    .text {
        font-size: 14px;
    }
    .box {
        margin-top: 90px;
    }
    .section-box-2 {
        margin-top: 55px;
    }
    .section-subject {
        font-size: 80px;
    }
    .section-subject-1 {
        margin-left: 39%;
        margin-top: -25px;
    }
    .section-subject-2 {
        margin-left: 4%;
    }
    .box-preview {
        position: relative;
    }
    .box-preview-1::before {
        content: url("../images/footballer_497.png");
        position: absolute;
        left: -21%;
    }
    .box-preview-2::before {
        content: url("../images/basketballer_436.png");
        position: absolute;
        right: 0;
    }
    .content-box {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 4%;
    }
    .header-box {
        margin-bottom: 32px;
    }
    .header-box-1 {
        margin-left: 40%;
    }
    .header-box-2 {
        margin-left: 4%;
    }
    .number-box {
        font-size: 18px;
        width: 20px;
    }
    .subtitle-box {
        font-size: 32px;
    }
    .text-box {
        font-size: 18px;
        width: 440px;
    }
    .text-box-1 {
        margin-left: 40%;
    }
    .text-box-2 {
        margin-left: 4%;
    }
    .gallery-counter {
        font-size: 24px;
        width: 115px;
        height: 115px;
        left: 4%;
        bottom: -20px;
    }
    .gallery-counter::after {
        bottom: 34px;
        height: 6px;
        border-radius: 3px;
    }
    .gallery-content {
        margin-bottom: 90px;
        margin-left: 4%;
    }
    .gallery-title {
        font-size: 80px;
        margin-top: 65px;
        margin-bottom: 10px;
    }
    .gallery-text {
        width: 640px;
        font-size: 24px;
    }
    .footer-site {
        padding: 0 15px;
    }
    .footer {
        background: url("../images/game_1280.jpg") no-repeat center center #000000;
    }
    .footer-box {
        margin-top: 125px;
        width: 135px;
        height: 135px;
        border-radius: 35px;
    }
    .logo-footer {
        width: 105px;
        height: 85px;
    }
    .footer-title {
        font-size: 80px;
        margin-top: 60px;
    }
    .footer-subtitle {
        font-size: 36px;
    }
    .button-box-footer {
        margin-top: 270px;
    }
    .footer-logo {
        margin-top: 3.5rem;
        padding-bottom: 25px;
    }
}
@media (min-width: 961px) and (max-width: 1120px){
    .box-preview-1::before {
        left: -10%;
    }
}
@media (min-width: 1366px) and (max-width: 1919px){
    .box-preview-1::before {
        left: 10%;
    }
}
@media (min-width: 1920px){
    .box-preview-1::before {
        left: 20%;
    }
}
@media (min-width: 961px) and (max-width: 1140px){
    .box-preview-2::before {
        right: -40%;
    }
}
@media (min-width: 1141px) and (max-width: 1388px){
    .box-preview-2::before {
        right: -20%;
    }
}
@media (min-width: 1389px) and (max-width: 1550px){
    .box-preview-2::before {
        right: 0;
    }
}
@media (min-width: 1551px){
    .box-preview-2::before {
        right: 9.4%;
    }
}
@media (min-width: 961px) and (max-width: 1830px){
    .gallery-content {
        padding-top: 11%;
    }
}
@media (min-width: 1831px){
    .gallery-content {
        padding-top: 12.5%;
    }
}
@media (min-width: 961px) {
    .logo {
        width: 205px;
        height: 58px;
    }
    .header {
        background: url("../images/football_1920.jpg") no-repeat center center #000000;
        background-size: cover;
        position: relative;
        padding: 45px 9.38% 105px;
    }
    .header-title {
        font-size: 90px;
        margin-top: 230px;
    }
    .span-h1 {
        text-align: right;
    }
    .button-box {
        margin-top: 200px;
        display: flex;
        justify-content: center;
    }
    .button {
        height: 75px;
        width: 310px;
        border-radius: 64px;
    }
    .button-2 {
        margin-left: 30px;
    }
    .button-logo {
        width: 40px;
        height: 40px;
        fill: #ffffff;
        margin-left: 50px;
        margin-right: 25px;
    }
    .text {
        font-size: 14px;
    }
    .box {
        margin-top: 25px;
    }
    .section-subject {
        font-size: 80px;
    }
    .section-subject-1 {
        margin-top: 40px;
        padding-left: 52%;
    }
    .box-preview {
        position: relative;
    }
    .box-preview-1::before {
        content: url("../images/footballer_566.png");
        position: absolute;
    }
    .box-preview-2::before {
        content: url("../images/basketballer_991.png");
        position: absolute;
    }
    .content-box {
        padding: 60px 10% 60px 0;
    }
    .content_box {
        padding-left: 52%;
    }
    .header-box {
        margin-bottom: 32px;
    }
    .number-box {
        font-size: 18px;
        width: 20px;
    }
    .subtitle-box {
        font-size: 32px;
    }
    .text-box {
        font-size: 18px;
    }
    .section-box-2 {
        margin-top: 20px;
    }
    .section-subject-2 {
        margin-top: 85px;
    }
    .box-preview-2 {
        padding-left: 9.4%;
    }
    .content_box_2 {
        padding-left: 9.4%;
    }
    .text-box-2 {
        width: 47%;
    }
    .gallery-row {
        display: flex;
        width: 100%;
    }
    .gallery-column {
        width: 50%;
    }
    .gallery-content {
        width: 50%;
    }
    .gallery-counter {
        font-size: 24px;
        width: 16.7%;
        height: 21.8%;
        right: -8.33%;
        bottom: 50%;
    }
    .gallery-counter::after {
        bottom: 35%;
        height: 6px;
        border-radius: 3px;
        width: 18%;
        right: 41%;
        left: 41%;
    }
    .gallery-title {
        font-size: 80px;
        padding-left: 13.6%;
        max-width: 65%;
    }
    .gallery-text {
        width: 66.6%;
        font-size: 24px;
        margin-top: 10.4%;
        padding-left: 13.6%;
    }
    .gallery-row-2 {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .gallery-counter-2 {
        left: -8.33%;
        bottom: 50%;
    }

    .footer-site {
        padding: 0 9.38%;
    }
    .footer {
        background: url("../images/game_1920.jpg") no-repeat center center #000000;
    }
    .footer-container {
        display: flex;
    }
    .footer-box {
        margin-top: 230px;
        width: 135px;
        height: 135px;
        border-radius: 35px;
    }
    .logo-footer {
        width: 105px;
        height: 85px;
    }
    .footer-title {
        margin-top: 210px;
        margin-left: 35px;
        font-size: 80px;
    }
    .footer-subtitle {
        font-size: 36px;
    }
    .button-box-footer {
        margin-top: 160px;
    }
    .footer-logo {
        margin-top: 255px;
        padding-bottom: 50px;
    }
}