* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Open Sans Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Open Sans Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@media (max-width: 640px) {
    .logo-box {
        display: flex;
    }
    .logo {
        width: 8.4rem;
        height: 2.2rem;
        fill: #ffffff;
        margin: 2.2rem auto 8.4rem;
    }
    .header {
        height: 570px;
        background: url("../images/football_767.jpg") no-repeat center center #000000;
        background-size: cover;
        position: relative;
    }
    .header::before {
        content: "";
        background-color: #161133;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.9;
    }
    .header-container {
        position: relative;
        z-index: 2;
    }
    .header-title {
        display: flex;
        flex-direction: column;
        margin-left: 6.25%;
        font-family: Open Sans Bold, serif;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 1.75rem;
    }
    .header-title-2 {
        padding-left: 2.8rem;
    }
    .button-box {
        margin-top: 5.5rem;
    }
    .button {
        background-color: #5e42b0;
        border: 0;
        height: 35px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1.25rem;
        color: #ffffff;
        display: flex;
        align-items: center;
    }
    .button-2 {
        margin-top: 0.9rem;
    }
    .button-logo {
        width: 20px;
        height: 20px;
        fill: #ffffff;
        margin-left: 80px;
    }
    .button-text {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
    }
    .text {
        font-family: Open Sans Regular, serif;
        text-transform: uppercase;
        font-size: 0.5rem;
        align-self: flex-start;
    }
    .text-2 {
        font-family: Open Sans Bold, serif;
    }
    .section-subject {
        font-family: Open Sans Bold, serif;
        font-size: 3.125rem;
        color: #e7e7e7;
        text-transform: uppercase;
        margin-left: 6.25%;
    }
    .box-preview {
        display: flex;
        flex-direction: column;
    }
    .img-preview {
        margin-right: auto;
        margin-left: auto;
    }
    .content-box {
        padding: 3.75rem 6.25% 3.125rem;
    }
    .header-box {
        display: flex;
        font-family: Open Sans Bold, serif;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }
    .number-box {
        font-family: Open Sans Bold, serif;
        text-transform: uppercase;
        font-size: 14px;
        align-self: flex-start;
        box-sizing: border-box;
        width: 17px;
        text-align: center;
        position: relative;
        display: inline-block;
    }
    .number_box {
        padding-top: 4px;
    }
    .number-box::after {
        content: "";
        position: absolute;
        background: #5e42b0;
        right: 5%;
        left: 5%;
        bottom: -3px;
        width: 90%;
        height: 4px;
        border-radius: 2px;
    }
    .number-box-3::after {
        background: #ffffff;
    }
    .number-box_3 {
        color: #8765dd;
    }
    .subtitle-box {
        font-size: 1.5rem;
        color: #c1c1c1;
        margin-left: 3%;
    }
    .text-box {
        font-family: "Open Sans Regular", serif;
        font-size: 1rem;
    }
    .text-box-3 {
        color: #ffffff;
    }
    .content-box-2 {
        background-color: #f5f4f9;
    }
    .content-box-3 {
        background-color: #5e42b0;
    }
    .content-box_3 {
        background-color: #090c35;
    }

    .img-container {
        height: auto;
        width: 100%;
        position: relative;
        z-index: -1;
    }
    .container {
        margin: -3.75rem 6.25% 4.5rem;
    }
    .holder {
        display: flex;
        box-sizing: border-box;
        width: 70px;
        height: 70px;
        background-color: #5e42b0;
    }
    .holder-number {
        color: #ffffff;
        margin: auto;
    }
    .holder-number:after {
        background-color: #8f7bc8;
    }
    .container-subtitle {
        font-family: Open Sans Bold, serif;
        font-size: 1.75rem;
        color: #e7e7e7;
        text-transform: uppercase;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .container-text {
        font-family: "Open Sans Regular", serif;
    }
    .footer {
        height: 570px;
        background: url("../images/game_767.jpg") no-repeat center center #000000;
        background-size: cover;
        position: relative;
        display: flex;
    }
    .footer::before {
        content: "";
        background-color: #161133;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.9;
    }
    .footer-site {
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-box {
        margin-top: 6.25rem;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        width: 75px;
        height: 75px;
        background-color: #53399f;
        border-radius: 1rem;
        display: flex;
    }
    .logo-footer {
        width: 60px;
        height: 50px;
        fill: #ffffff;
        margin: auto;
    }
    .footer-title {
        font-family: Open Sans Bold, serif;
        font-size: 2.1rem;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 3.4rem;
    }
    .footer-subtitle {
        font-family: "Open Sans Regular", serif;
        font-size: 0.97rem;
        text-transform: uppercase;
        color: #9b8ec1;
        margin-bottom: 4.65rem;
    }
    .footer-logo {
        margin-top: 3.5rem;
    }
}